@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Stalemate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Roboto&family=Stalemate&display=swap");

body {
  font-family: "Amatic SC", cursive;
  background-color: #edebe8;
  margin: 0;
}
.main {
  padding: 30px;
}
.about-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  padding: 15px;
}
.about-box p {
  font-size: 1.4rem;

  max-width: 600px;
  text-align: left;
  background-color: #f7f7f7;
  border: 1px solid #c4958a;
  padding: 10px;
}
.about-box img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #c4958a;
  margin: 60px 20px 35px 20px;
}

@media only screen and (max-width: 712px) {
  .about-box {
    text-align: center;
  }
  .about-box img {
    margin-left: auto;
    margin-right: auto;
  }
}
/* BUTTONS */
button {
  width: 100px;
  height: 38px;
  padding: 5px 0px 5px 0;
  margin: 4px;

  background-color: #c4958a;
  border: none;
  border-radius: 2px;
  color: white;
  font-family: "Amatic SC", cursive;
  font-size: 1.3rem;
}

button:focus {
  outline: none;
}
button:hover {
  cursor: pointer;
  background: #e8d7d2;
  -webkit-box-shadow: inset 0px 0px 5px #c4958a;
  -moz-box-shadow: inset 0px 0px 5px #c4958a;
  box-shadow: inset 0px 0px 5px #c4958a;
  outline: none;
}
.header-container {
  text-align: center;
  padding-bottom: 5px;
  position: relative;
}
.trash-icon {
  width: 20px;
}
.trash-icon:hover {
  cursor: pointer;
}
.add-song-button {
  position: absolute;
  right: 0px;
  top: 3px;
}
.add-song-button-hide {
  display: none;
}
/* END BUTTONS */

/* NAV */
.nav-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "left center right";
  align-items: center;
  background-color: #8ea7a3;
  padding: 25px 0;
}
.nav h1 {
  grid-area: center;
  font-size: 4rem;
  margin: 0;
  font-family: "Stalemate", cursive;
  text-align: center;
  background-color: #8ea7a3;
}
.nav-item:after,
.nav-item:before {
  content: "\00a0\00a0\00a0";
  text-decoration: line-through;
  padding: 10px;
  font-family: monospace;
}
ul [class^="nav-item"] {
  list-style: none;
  font-size: 1.3rem;
  background-color: #8ea7a3;
}
.nav-item-left {
  text-align: right;
  padding-left: 0;
  background-color: #8ea7a3;
}
.nav-item-right {
  text-align: left;
  padding-left: 0;
  background-color: #8ea7a3;
}
.nav-item-left .nav-item a {
  grid-area: left;
  text-decoration: none;
  color: black;
  background-color: #8ea7a3;
}
.nav-item-right .nav-item a {
  grid-area: right;
  text-decoration: none;
  color: black;
  background-color: #8ea7a3;
}
.nav-item a:hover {
  cursor: pointer;
  border-bottom: 0.2px solid black;
}
/* END NAV */

/* INPUTS */
.input-form {
  display: none;
}
.input-form-show {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 15px;
}
.input-form input,
.input-form select {
  background-color: #f7f7f7;
  padding: 5px 10px 5px 10px;
  font-size: 1.3rem;
  font-family: "Amatic SC", cursive;
  outline: none;
  border: none;
  margin: 4px;
  flex-grow: 4;
  border: 1px solid #c4958a;
}
.filter-select:hover {
  cursor: pointer;
}
.filter-select {
  background-color: transparent;
  font-size: 1.4rem;
  font-family: "Amatic SC", cursive;
  outline: none;
  border: none;
  margin-left: -4px;
  font-weight: 700;
}
/* END INPUTS */

/* SONGLIST */
.main .h1 {
  text-align: center;
  font-size: 2.2rem;
  border-bottom: 0.3px solid black;
}
.songlist-header {
  font-weight: bold;
}
.arrow {
  width: 10px;
  margin-bottom: -3px;
  padding: 5px;
}
.arrow:hover {
  cursor: pointer;
}
ul.songlist-header {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(2, 2fr) 1fr 1fr 20px;
  grid-template-rows: 1fr;
  grid-gap: 5px;
  padding: 5px 10px 5px 10px;
  font-size: 1.4rem;
}
ul.songlist {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(2, 2fr) 1fr 1fr 20px;
  grid-template-rows: auto;
  grid-gap: 5px;
  background-color: #f7f7f7;
  padding: 5px 10px 5px 10px;
  font-size: 1.4rem;
  margin: 7px 0 7px 0;
  border: 1px solid #c4958a;
}
.songlist-header li span {
  margin-right: 10px;
}
.star {
  width: 20px;
}
/* END SONGLIST */

/* FOOTER */
.footerStyle {
  background-color: #292c33;
  font-size: 20px;
  color: white;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
}
/* END FOOTER */
